In [19]:
import pandas as pd
import numpy as np

In [20]:
dados = np.random.randint(low=0, high=10, size = (5,5))
colunas = ['Coluna1','Coluna2','Coluna3','Coluna4','Coluna5']
index=['A','B','C','D','E']
df = pd.DataFrame (data=dados, columns=colunas, index=index, dtype='float64')

In [21]:
df

   Coluna1  Coluna2  Coluna3  Coluna4  Coluna5
A      3.0      8.0      7.0      3.0      8.0
B      6.0      8.0      0.0      1.0      9.0
C      0.0      2.0      1.0      1.0      7.0
D      0.0      9.0      3.0      6.0      3.0
E      3.0      8.0      5.0      4.0      7.0